<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc.xsd
   http://www.springframework.org/schema/security
   http://www.springframework.org/schema/security/spring-security.xsd">
   
	
	
 <http auto-config="true">
 
        <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" />
       <form-login login-page="/Login" login-processing-url="/perform-login" username-parameter="username" password-parameter="password" authentication-failure-url="/Login" />
             <logout logout-success-url="/index" />
             <csrf  disabled="true"/>
 </http>
 <authentication-manager>
  <authentication-provider>
      
              	<jdbc-user-service data-source-ref="newDataSource"
		  users-by-username-query=
		    "select username,password,enabled from users where username=?"
		  authorities-by-username-query=
		    "select username,role from users where username =?  " />
		    
        
             
            
 </authentication-provider>
 </authentication-manager>
 </beans:beans>